<p>Hi, my name is <strong>Christopher Lee</strong>.</p>
<p>I was the co-founder and CTO for <a
href="http://www.mobmanager.com">MobManager</a>, a startup in the daily
deal space, which was acquired by <a
href="http://www.constantcontact.com">Constant Contact</a>.</p>
<p>I'm a big fan of <strong>productivity</strong>, <strong>code legibility</strong>, and <strong>efficiency</strong> in software development.</p>
<p>I prefer to work with Ruby on Rails, and I'm currently interested in OS X/iOS development, and client side web frameworks like BackboneJS.</p>
